<% include ./partials/boilerplate %>
   <div class='container'>
    <h1><%= title %></h1>
    <p> Feedback for <%= title %>!!!</p>
    <form method="POST">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="comments" placeholder="Comment">
        <input type="submit" value="Submit">
    </form>
    <ul>
        <% data.forEach(function(d) { %>
            <li data-id=<%=d.id%>> 
                <p><b>#<%= d.name %></b> <%= d.comments %>, <form method="PUT">
                <input type="number" name="likes" placeholder=<%= d.likes %>>
                <input type="submit" value="Submit"></form></p>
            </li>
        <% }) %>
    </ul>
</div>
<% include ./partials/end %> 